<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
         <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <% if(error && error.length>0){ %>

<div class="container">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <%=error%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
<% } %>

<% if(success && success.length>0 ){ %>
<div class="container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
   <%=success%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>

<% } %>



    
    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
		<p>
           <form action="/campgrounds" method="GET" class="form-inline">
               <div class="form-group" style="margin: 0 auto;">
                   <input type="text" name="search" placeholder="Campground search..." class="form-control">
                   <input type="submit" value="Search" class="btn btn-success ml-1">
               </div>
           </form>
       </p>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("partials/footer") %>