.former{
    position:absolute;
    top:50%;
    left:50%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    width: 280px;
     
}

#button{
    margin-top:5px; padding:2px;
}
#he{
    
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}
a{
    text-decoration: none !important;
    
}

.card{
    padding:0px;
}

#delete{
    display:inline;
}

#search{
    width:80%;
}

/* Google Maps */
#map {
    margin-top:10px;
    height: 400px;
    width: 100%;
    margin-bottom:10px;
    border:1px solid rgba(0,0,0,.125);
    border-radius :3px;

    
}

#circular{
  display: block;
  margin-left: auto;
  margin-right: auto;
 border:2px solid grey;
      background-color: #fff;
      transform: rotateY(20deg);
      transform: rotateX(20deg);
   border-radius: 100%;
    height: 160px;
    position: relative;
    width: 160px;
  
  
}

#clr{
    color:white;
}



